/*
 * Box-Sizing Model
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive Images
 */
img {
  min-width: 100%;
  height: auto;
}
/*
 * Cursor Change On Hover On Buttons
 */
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: "";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-family: 'Lato', sans-serif;
}
.container {
  width: 1174px;
  margin-right: auto;
  margin-left: auto;
}
.section {
  margin-top: 50px;
}
.block {
  background-color: #BCDB3E;
  padding: 20px;
  color: #000;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.form-bg {
  background-color: #e7eef2;
  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-bg {
  background-color: #141a20;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* ==========================================================================
   Mobile First Method 
   ========================================================================== */
/* Custom, iPhone Retina - adaptive styles after 320px */
/* Small Devices, Tablets - adaptive styles after 768px */
/* Large Devices, Wide Screens - adaptive styles after 1200px */
/* ==========================================================================
   MENU
   ========================================================================== */
.menu-wrap {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
}
.menu-wrap--fixed {
  padding-top: 10px;
  padding-bottom: 10px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: rgba(20, 26, 32, 0.8);
}
.menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* ==========================================================================
   LOGO
   ========================================================================== */
.logo {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.navigation {
  text-align: right;
  font-size: 14px;
  letter-spacing: 1px;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation__item {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 32px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item:first-child {
  font-weight: 700;
}
.navigation__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation__link:hover {
  color: #dfff2e;
}
/* ==========================================================================
   SCROLL-DOWN-MOUSE
   ========================================================================== */
#mouse-scroll {
  display: block;
  position: absolute;
  margin: auto;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  z-index: 9999;
  text-decoration: none;
  text-align: center;
}
#mouse-scroll .mouse {
  height: 28px;
  width: 16px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 1px solid #ffffff;
  margin-right: auto;
  margin-left: auto;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #ffffff;
  position: relative;
  -webkit-animation: animated-mouse 1.2s ease infinite;
}
#mouse-scroll .mouse-scroll-down {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
}
@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* ==========================================================================
   HEADER
   ========================================================================== */
.header-bg {
  height: 100vh;
  background-color: #10131c;
  background-image: url("../img/bg/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 20px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  color: #fff;
  width: 80%;
  font-family: 'PT Sans', sans-serif;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 0 0 20px;
}
.header__subtitle {
  font-size: 18px;
  letter-spacing: 1px;
}
/* ==========================================================================
   BLOG
   ========================================================================== */
.blog-wrap {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.blog-item {
  position: relative;
}
.blog-item__link {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  top: 6px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  /* IE6-9 */
}
.blog-item__post {
  position: absolute;
  bottom: 30px;
  padding-left: 26px;
  padding-right: 126px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
}
.blog-item__post h3 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}
.blog-item__post .post__data {
  display: inline-block;
  font-size: 12px;
  margin-right: 10px;
}
.blog-item__post .post__data--date:before {
  display: inline-block;
  content: '';
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/time-icon.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 10px;
}
.blog-item__post .post__data--comments:before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 14px;
  background-image: url("../img/icons/message-icon.png");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-right: 10px;
}
.blog-item__img {
  height: 300px;
  min-width: auto;
  margin-bottom: 20px;
}
