/*
 * Box-Sizing Model
 */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/*
 * Responsive Images
 */
img {
  height: auto;
}
/*
 * Cursor Change On Hover On Buttons
 */
input[type="submit"] {
  cursor: pointer;
}
/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: "";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  height: 100%;
  min-width: 320px;
}
html {
  font-size: 10px;
  line-height: 1.4;
}
body {
  font-family: 'Lato', sans-serif;
}
.section--p-t-50 {
  padding-top: 50px;
}
.section--p-t-30 {
  padding-top: 30px;
}
.section--p-t-80 {
  padding-top: 80px;
}
.section--p-b-130 {
  padding-bottom: 130px;
}
.heading {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #10131c;
  text-align: center;
  margin-bottom: 75px;
}
.heading--less-lite {
  color: #fff;
  font-size: 24px;
  margin-bottom: 0;
  text-transform: none;
}
.heading--m-b-55 {
  margin-bottom: 55px;
}
.heading--big {
  font-size: 30px;
}
.heading--left {
  text-align: left;
}
p {
  font-size: 12px;
}
/* ==========================================================================
   Mobile First Method 
   ========================================================================== */
/* Custom, iPhone Retina - adaptive styles after 320px */
/* Small Devices, Tablets - adaptive styles after 768px */
/* Large Devices, Wide Screens - adaptive styles after 1200px */
/* ==========================================================================
   MENU
   ========================================================================== */
.menu-wrap {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
}
.menu {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* ==========================================================================
   LOGO
   ========================================================================== */
.logo {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 4px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}
.logo:hover,
.logo:active,
.logo:focus {
  text-decoration: none;
  color: #fff;
  outline: none;
}
.logo--less {
  font-size: 24px;
  width: 108px;
  letter-spacing: 1px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
}
/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.navigation {
  text-align: right;
  font-size: 14px;
  letter-spacing: 1px;
}
.navigation--less {
  text-align: center;
  font-size: 13px;
  letter-spacing: 0;
}
.navigation__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navigation__item {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-right: 32px;
}
.navigation__item:last-child {
  margin-right: 0;
}
.navigation__item:first-child {
  font-weight: 700;
}
.navigation__link {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}
.navigation__link:hover,
.navigation__link:active,
.navigation__link:focus {
  color: #dfff2e;
  text-decoration: none;
}
/* ==========================================================================
   SCROLL-DOWN-MOUSE
   ========================================================================== */
#mouse-scroll {
  display: block;
  position: absolute;
  margin: auto;
  left: 50%;
  bottom: 20px;
  -webkit-transform: translateX(-50%);
  z-index: 9999;
  text-decoration: none;
  text-align: center;
  outline: none;
}
#mouse-scroll:hover .mouse,
#mouse-scroll:active .mouse,
#mouse-scroll:focus .mouse {
  border: 1px solid #dfff2e;
}
#mouse-scroll:hover .mouse-in,
#mouse-scroll:active .mouse-in,
#mouse-scroll:focus .mouse-in {
  background: #dfff2e;
}
#mouse-scroll:hover .mouse-scroll-down,
#mouse-scroll:active .mouse-scroll-down,
#mouse-scroll:focus .mouse-scroll-down {
  color: #dfff2e;
}
#mouse-scroll .mouse {
  height: 28px;
  width: 16px;
  border-radius: 10px;
  -webkit-transform: none;
  transform: none;
  border: 1px solid #ffffff;
  margin-right: auto;
  margin-left: auto;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #ffffff;
  position: relative;
  -webkit-animation: animated-mouse 1.2s ease infinite;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}
#mouse-scroll .mouse-scroll-down {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 10px;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* ==========================================================================
   TEAM-ITEM
   ========================================================================== */
.team-item__image {
  width: 213px;
  height: 213px;
  border-radius: 213px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  overflow: hidden;
}
.team-item__image__hover {
  background-color: rgba(16, 19, 28, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease-in, visibility 0s linear 0.5s;
  transition: opacity 0.5s ease-in, visibility 0s linear 0.5s;
}
.team-item__image__hover a {
  text-decoration: none;
  font-size: 22px;
  position: absolute;
  color: #fff;
}
.team-item__image__hover a:hover,
.team-item__image__hover a:active,
.team-item__image__hover a:focus {
  color: #dfff2e;
}
.team-item__image__hover .h-facebook {
  bottom: 42px;
  left: 42px;
}
.team-item__image__hover .h-twitter {
  left: 91px;
  bottom: 24px;
}
.team-item__image__hover .h-insta {
  bottom: 42px;
  right: 42px;
}
.team-item__image:hover .team-item__image__hover {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.team-item__name {
  font-family: 'PT Sans Narrow', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #324953;
  text-align: center;
  margin-top: 40px;
}
.team-item__prof {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 14px;
  color: #afbfc6;
  text-align: center;
}
.team-item__desc {
  font-size: 12px;
  line-height: 26px;
  color: #72848c;
  text-align: center;
  margin-top: 10px;
}
/* ==========================================================================
   HEADER
   ========================================================================== */
.header-bg {
  height: 100vh;
  width: 100%;
  background-color: #10131c;
  background-image: url("../img/bg/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 20px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header {
  color: #fff;
  width: 80%;
  font-family: 'PT Sans', sans-serif;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__title {
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.2;
  margin: 0 0 20px;
}
.header__subtitle p {
  font-size: 18px;
  letter-spacing: 1px;
}
/* ==========================================================================
   BLOG
   ========================================================================== */
.blog-item {
  position: relative;
  width: 100%;
  height: 286px;
  margin-bottom: 20px;
  overflow: hidden;
}
.blog-item:hover .blog-item__img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.blog-item__link {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 6px;
  z-index: 5;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
  /* IE6-9 */
}
.blog-item__link:hover .blog-item__post {
  color: #dfff2e;
}
.blog-item__post {
  position: absolute;
  bottom: 30px;
  padding-left: 26px;
  padding-right: 100px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  -webkit-transition: color 0.4s ease-out;
  transition: color 0.4s ease-out;
}
.blog-item__post h3 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}
.blog-item__post .post__data {
  font-family: 'PT Sans Narrow', sans-serif;
  display: inline-block;
  font-size: 12px;
  letter-spacing: 1px;
  position: relative;
}
.blog-item__post .post__data--date {
  margin-right: 20px;
  margin-left: 22px;
}
.blog-item__post .post__data--comments {
  margin-right: 10px;
  margin-left: 26px;
}
.blog-item__post .post__data--date:before {
  display: inline-block;
  content: '';
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/time-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 2px;
  left: -22px;
}
.blog-item__post .post__data--comments:before {
  display: inline-block;
  content: '';
  width: 16px;
  height: 14px;
  background-image: url("../img/icons/message-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0px;
  left: -26px;
}
.blog-item__post .post__data--comments-num {
  font-family: 'Open Sans', sans-serif;
}
.blog-item__img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
/* ==========================================================================
   SERVICES
   ========================================================================== */
.service-row {
  margin-bottom: 50px;
}
.service-item {
  padding-left: 50px;
  position: relative;
}
.service-item__img {
  position: absolute;
  left: 0;
  top: 0;
}
.service-item__title {
  font-family: 'PT Sans Caption', sans-serif;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  color: #324953;
}
.service-item__desc {
  color: #72848c;
}
.service-item__desc p {
  line-height: normal;
}
/* ==========================================================================
   WORKS
   ========================================================================== */
.works-item {
  position: relative;
  overflow: hidden;
}
.works-item__img {
  width: 100%;
}
.works-item__hover {
  padding-right: 27px;
  padding-left: 27px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s ease-in, visibility 0s linear 0.5s;
  transition: opacity 0.5s ease-in, visibility 0s linear 0.5s;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.works-item__hover p {
  color: #fff;
  font-size: 14px;
  text-align: center;
}
.works-item__hover:hover,
.works-item__hover:active,
.works-item__hover:focus {
  text-decoration: none;
}
.works-item:hover .works-item__hover {
  opacity: 1;
  visibility: visible;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}
.works-item:hover .works-item__hover .button-share span {
  color: #dfff2e;
}
.works-item:hover .works-item__hover .button-share span:before {
  background-image: url('../img/icons/share-icon-h.png');
}
.button-share {
  width: 73px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.button-share img {
  width: 30px !important;
  height: 30px;
  margin-right: 10px;
  float: left;
}
.button-share span {
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  margin-top: 8px;
  padding-top: 8px;
  text-align: right;
  position: relative;
}
.button-share span:before {
  content: '';
  background-image: url('../img/icons/share-icon.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
/* ==========================================================================
   WORKS
   ========================================================================== */
.form-bg {
  background-color: #e7eef2;
  padding-top: 73px;
  padding-bottom: 114px;
  background-image: url("../img/bg/contact-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom -35%;
}
.contact-form {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.contact-form__wrap-left {
  padding-right: 8px;
}
.contact-form__input {
  width: 100%;
  color: #556369;
  margin-bottom: 25px;
  padding-left: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 5px;
  border: 1px solid #dee7eb;
  border-color: #dee7eb;
  outline: none;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.contact-form__input--last {
  margin-bottom: 70px;
}
.contact-form__input:active,
.contact-form__input:hover,
.contact-form__input:focus {
  outline: none;
  border-color: #72848c;
}
.contact-form__textarea {
  width: 100%;
  height: 100%;
  color: #556369;
  padding-left: 25px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 5px;
  border: 1px solid #dee7eb;
  border-color: #dee7eb;
  outline: none;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.contact-form__textarea:active,
.contact-form__textarea:hover,
.contact-form__textarea:focus {
  outline: none;
  border-color: #72848c;
}
.contact-form__submit {
  width: 100%;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 17px;
  background-color: #141a20;
  border-radius: 5px;
  border: 1px solid #000;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contact-form__submit:active,
.contact-form__submit:hover,
.contact-form__submit:focus {
  background-color: #72848c;
  color: #141a20;
  outline: none;
}
label.error {
  background-color: rgba(138, 65, 65, 0.5);
  border-radius: 8px;
  color: #fff;
  padding: 5px 15px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: -5px;
  position: relative;
}
label.error:after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 40px;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-bottom: 10px solid rgba(138, 65, 65, 0.5);
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}
/* ==========================================================================
   FOOTER
   ========================================================================== */
.footer-bg {
  background-color: #141a20;
  padding-top: 60px;
  padding-bottom: 56px;
  text-align: center;
}
.social-icons {
  margin-top: 30px;
  font-family: 'fontello';
}
.social-icons a {
  margin-right: 20px;
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  outline: none;
}
.social-icons a:last-child {
  margin-right: 0;
}
.social-icons a:hover,
.social-icons a:active,
.social-icons a:focus {
  color: #dfff2e;
  text-decoration: none;
}
