/* ==========================================================================
   BLOG
   ========================================================================== */

.blog-item {
	position: relative;
	width: 100%;
	height: 286px;
	margin-bottom: 20px;
	overflow: hidden;
}

.blog-item:hover .blog-item__img {
	transform: scale(1.1);
}

.blog-item__link {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 6px;
	z-index: 5;
		
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.blog-item__link:hover .blog-item__post {
	color: @hover-color;
	.post__data {
		&--date:before {
    		background-image: url("../img/icons/time-icon-h.png");
    	}
    	&--comments:before {
    		background-image: url("../img/icons/message-icon-h.png");
    	}
	}
}

.blog-item__post {
	position: absolute;
	bottom: 30px;
	padding-left: 26px;
	padding-right: 100px;
	font-family: 'PT Sans', sans-serif;
	color: #fff;

	h3 {
		font-size: 24px;
		font-weight: 700;
		letter-spacing: 1px;
		margin-bottom: 15px;
	}

	.post__data {
		font-family: 'PT Sans Narrow', sans-serif;
		display: inline-block;
		font-size: 12px;
		letter-spacing: 1px;
		
		position: relative;

		&--date {
			margin-right: 20px;
			margin-left: 22px;
		}

		&--date:before {
			display: inline-block;
			content: '';
			width: 12px;
			height: 12px;
			background-image: url("../img/icons/time-icon.png");
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
			position: absolute;
			bottom: 2px;
			left: -22px;
		}

		&--comments {
			margin-right: 10px;
			margin-left: 26px;
		}

		&--comments:before {
			display: inline-block;
			content: '';
			width: 16px;
			height: 14px;
			background-image: url("../img/icons/message-icon.png");
			background-repeat: no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
			position: absolute;
			bottom: 0px;
			left: -26px;
		}

		&--comments-num {
			font-family: 'Open Sans', sans-serif;
		}
	}
}

.blog-item__img {
	width: 100%;
	height: 100%;

	transition: all 1s ease-out;
}