/* ==========================================================================
   MENU
   ========================================================================== */

.menu-wrap {
	position: absolute;
	top: 45px;
	left: 0;
	right: 0;
}

.menu-wrap--fixed {
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	z-index: 999;
	background-color: rgba(20, 26, 32, 0.8);
}

.menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-items: center;
}